table {
    margin: auto;
    margin-top: 1%;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0px 0px 10px black;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    width: 50px;
    height: 50px;
}

.select {
    background-color: black;
}

.blank {
    background-color: white;
}

.blocked {
    background-color: red;
}

.options {
    text-align: center;
    font-family: sans-serif;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;

    width: 400px;
    margin: auto;

    padding-top: 10px;
}

.radio{
    text-align: left;

    margin-left: 10%;
    margin-right: 10%;
}